// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.flat-card-actions {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px 0px 0px 0px;
    justify-content: space-between;
}

.pic-container{
  width:100%;
  height:350px;
  background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 40% 60%;
}

// .first {
//   padding: 16px;
// }
